<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The identifier of the server to retrieve the information about -->
    <add key="LeaseWebServerID" value="" />
     
    <!-- LeaseWeb API key that can be retrieved from https://secure.leaseweb.com -->
    <add key="LeaseWebApiKey" value="" />
  </appSettings>
</configuration>