<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- The identifier of the server to retrieve the information about -->
    <add key="LeaseWebServerID" value="25125" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- LeaseWeb API key that can be retrieved from https://secure.leaseweb.com -->
    <add key="LeaseWebApiKey" value="7ef1a52c-2dce-49d0-aa23-9ed9c527f34b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>