<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The identifier of the server to retrieve the information about -->
    <add key="LeaseWebServerID" value="12345" />

    <!-- LeaseWeb API key that can be retrieved from https://secure.leaseweb.com -->
    <add key="LeaseWebApiKey" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>